#first{
 	border: 4px;
	border-color:red;
	border-style: dotted;
	width:50%
	padding-top:50px;
	padding-left: 200px;
	margin-left: -123px;
}
#second{
	border:4px;
	width:100%;
	border: 4px;
	border-color:red;
	border-style: dotted;
	padding-top:50px;
	padding-left: 200px;
	margin-left: 123px;
	margin-top:-45px;
}
#first:FIRST-LETTER {
	color:green;
}
#para:FIRST-LETTER {
	color:blue:
}
section>p{
	color:rgb(23,34,123);
     size:44px;
}
p~ul{
	color:yellow;
}
*{
	size: 39px;
}

div + p{
	color:brown;
}

#third > p{
	color:pink;
}
a[target]{
	background-color: red;
}
