h1{
	color: red;
	font-size: 24px;
	
}
p{
	color:yellow;
	text-align:centre;
	font-size: 3em;
}
#brownie{
	color:white;
	background-color: black;
	font-size:4em;
}
body#bod{
	background: rgb(0,133,32);
}
#begin{
	color=rgb(255,1,51);
	font-size:5em;
}
#navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

a {
	font-size:3.5em;
    display: block;
    padding: 30px;
    background-color: #dddd;
}

#block2 {
	background-image: url("img/gulabj.jpg");
	width:200px;
	height:210px;
	background-repeat: round;
	float :left;
}

#block1 {
	position:relative;
	background-image: url("img/carrothalwa.jpeg");
	width:200px;
	height:210px;
	background-repeat: round;
	color:rgb(122,122,32);
	float: left;
    margin:20px;
}
.hl .hl1 {
	text-align: center;
	color:white;
}
.fa{
	
	color:green;
}
#rating1 #rating2{
	text-align: center;
}
.checked{
	color:red;
}
}